@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/segoe-UI/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/segoe-UI/SegoeUI.woff") format("woff"), url("../fonts/segoe-UI/SegoeUI.ttf") format("truetype"), url("../fonts/segoe-UI/SegoeUI.svg#SegoeUI") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SegoePro-Light';
  src: url("../fonts/segoe-PRO-light/SegoePro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/segoe-PRO-light/SegoePro-Light.woff") format("woff"), url("../fonts/segoe-PRO-light/SegoePro-Light.ttf") format("truetype"), url("../fonts/segoe-PRO-light/SegoePro-Light.svg#SegoePro-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SegoePro-Semibold';
  src: url("../fonts/segoePROsemibold/SegoePro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/segoePROsemibold/SegoePro-Semibold.woff") format("woff"), url("../fonts/segoePROsemibold/SegoePro-Semibold.ttf") format("truetype"), url("../fonts/segoePROsemibold/SegoePro-Semibold.svg#SegoePro-Semibold") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 16px; }

body {
  overflow-x: hidden; }

img {
  max-width: 100%; }

.main-full-width {
  margin-left: 0px; }

figure {
  margin-bottom: 0; }

@media (min-width: 768px) {
  main {
    margin-left: 250px;
    transition: 0.3s linear; } }
.side-bar {
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background: #90acd1;
  transition: 0.3s linear;
  z-index: 4; }
  .side-bar .side-bar-wrapper {
    position: relative;
    height: 100%;
    padding: 40px 0; }
    .side-bar .side-bar-wrapper .side-bar-toggle {
      position: absolute;
      top: 30%;
      right: 0;
      display: inline-block;
      height: 50px;
      width: 50px;
      font-size: 43px;
      line-height: 41px;
      background: #fff;
      text-align: center;
      cursor: pointer;
      transition: 0.3s linear;
      border: 4px solid #007BFE; }
    .side-bar .side-bar-wrapper .toggle-border-left {
      border-radius: 15px 0px 0px 15px;
      border-right: none; }
    .side-bar .side-bar-wrapper .toggle-border-right {
      border-radius: 0px 15px 15px 0px;
      border-left: none; }
    .side-bar .side-bar-wrapper .side-bar-toggle-closed {
      right: -100px; }
    @media (min-width: 768px) {
      .side-bar .side-bar-wrapper .side-bar-toggle-closed {
        right: -50px; } }
    .side-bar .side-bar-wrapper .logo-wrapper {
      max-width: 50%;
      position: relative; }
      .side-bar .side-bar-wrapper .logo-wrapper .side-menu-line {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -40px;
        width: 165%;
        height: 1px;
        background: rgba(255, 255, 255, 0.2); }
    .side-bar .side-bar-wrapper nav.side-bar-nav {
      padding-left: 24%; }
      .side-bar .side-bar-wrapper nav.side-bar-nav li {
        margin-bottom: 17px; }
      .side-bar .side-bar-wrapper nav.side-bar-nav a {
        color: #fff;
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        transition: 0.2s linear; }
        .side-bar .side-bar-wrapper nav.side-bar-nav a:hover {
          color: rgba(255, 255, 255, 0.7); }
    .side-bar .side-bar-wrapper .connect {
      font-family: 'SegoePro-Semibold';
      margin-left: 24%;
      color: rgba(255, 255, 255, 0.3); }
    .side-bar .side-bar-wrapper .side-bar-social a {
      text-decoration: none; }
    .side-bar .side-bar-wrapper .side-bar-social .fa {
      color: #fff;
      font-size: 40px; }

.side-bar-hide {
  margin-left: -250px; }

@media (min-width: 768px) {
  .side-bar {
    width: 250px; } }
.fade-in-left {
  -webkit-animation: fade-in-left 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.delay-1 {
  animation-delay: 0.3s; }

.delay-2 {
  animation-delay: 0.6s; }

.delay-3 {
  animation-delay: 0.9s; }

.delay-4 {
  animation-delay: 1.2s; }

.delay-5 {
  animation-delay: 1.5s; }

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

.small-header {
  background: none;
  height: 50px;
  width: 100%;
  z-index: 6;
  transition: 0.2s linear; }

.small-header-active {
  background: rgba(0, 0, 0, 0.8); }

.small-header-trans {
  background: transparent !important; }

.burger .line1,
.burger .line3 {
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px 0;
  border-radius: 20px; }

.burger .line2 {
  display: block;
  width: 17px;
  height: 3px;
  background: #fff;
  margin: 5px 0;
  border-radius: 20px;
  transition: 0.2s linear; }

.burger:hover .line2 {
  width: 25px; }

.burger div {
  transition: 0.4s linear;
  position: relative;
  z-index: 7; }

.burger.active div:nth-of-type(2) {
  opacity: 0;
  transform: translateX(-100px); }

.burger.active div:nth-of-type(1) {
  transform: rotate(45deg) translate(5px, 6px); }

.burger.active div:nth-of-type(3) {
  transform: rotate(-45deg) translate(5px, -6px); }

.burger.active div {
  background: #fff; }

.burger {
  position: absolute;
  left: 40px;
  top: 5px;
  cursor: pointer;
  overflow: hidden;
  padding: 5px;
  transition: 0.3s ease-out; }

.burger-move-right {
  left: 120px; }

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative; }
  .v-header .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
    .v-header .video-wrapper video {
      min-width: 100%;
      min-height: 100%;
      pointer-events: none; }
  .v-header .header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1; }
  .v-header .header-content {
    z-index: 2; }
    .v-header .header-content .developer {
      font-family: 'Anton', sans-serif;
      color: #fff;
      font-size: 100px;
      line-height: 1.1; }
      @media (min-width: 992px) {
        .v-header .header-content .developer {
          font-size: 120px; } }
      .v-header .header-content .developer .last-name {
        color: #F16821; }
    .v-header .header-content .header-intruduction {
      font-size: 25px; }
      @media (min-width: 992px) {
        .v-header .header-content .header-intruduction {
          font-size: 30px; } }
    .v-header .header-content .header-slogan {
      font-size: 30px;
      max-width: 90%; }
      @media (min-width: 992px) {
        .v-header .header-content .header-slogan {
          font-size: 40px;
          max-width: 100%; } }

.fade-in-right {
  -webkit-animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
/*.fade-in-tr {
    -webkit-animation: fade-in-tr 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-tr 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.delay-1 {
    animation-delay: 0.3s;
}
.delay-2 {
    animation-delay: 0.6s;
}
.delay-3 {
    animation-delay: 0.9s;
}
.delay-4 {
    animation-delay: 1.2s;
}
.delay-5 {
    animation-delay: 1.5s;
}

@-webkit-keyframes fade-in-tr {
    0% {
        -webkit-transform: translateX(50px) translateY(-50px);
        transform: translateX(50px) translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}
@keyframes fade-in-tr {
    0% {
        -webkit-transform: translateX(50px) translateY(-50px);
        transform: translateX(50px) translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}


// BUTTONS
.fade-in-bottom {
    -webkit-animation: fade-in-bottom 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
*/
/*SCROLLDOWN ANIMATED LINE*/
.scrolldown {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 80px;
  background: transparent; }

.scrolldown:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, #fff, transparent);
  animation: falldown 2s linear infinite; }

@keyframes falldown {
  0% {
    transform-origin: top;
    transform: scaleY(0); }
  50% {
    transform-origin: top;
    transform: scaleY(1); }
  51% {
    transform-origin: bottom;
    transform: scaleY(1); }
  100% {
    transform-origin: bottom;
    transform: scaleY(0); } }
.mobile-nav {
  position: absolute;
  top: 0px;
  left: -100%;
  width: 170px;
  height: 100vh;
  background: rgba(144, 172, 209, 0.98);
  transition: 0.2s ease-in;
  z-index: 5;
  padding: 90px 0; }
  .mobile-nav a {
    text-decoration: none; }
  .mobile-nav .logo-wrapper {
    max-width: 50%; }
  .mobile-nav ul a {
    color: #fff;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 25px; }
  .mobile-nav ul li {
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .mobile-nav ul li:first-of-type {
      border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .mobile-nav .fa {
    color: #fff;
    font-size: 30px; }

.mobile-nav-show {
  left: 0%; }

.about-section {
  padding-top: 48px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative; }
  @media (min-width: 992px) {
    .about-section {
      background-attachment: scroll; } }
  @media (min-width: 1200px) {
    .about-section {
      padding-top: 100px; } }
  .about-section .about-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.99)); }
  .about-section img {
    max-width: 80%;
    border-radius: 50%;
    border: 10px solid #115398; }
    @media (min-width: 992px) {
      .about-section img {
        max-width: 100%;
        border-radius: 0%;
        border: none; } }
  .about-section .resp-cta-1 {
    display: none; }
    @media (min-width: 768px) {
      .about-section .resp-cta-1 {
        display: block; } }
    @media (min-width: 799px) {
      .about-section .resp-cta-1 {
        display: none; } }
  @media (min-width: 768px) {
    .about-section .resp-cta-2 {
      display: none; } }
  @media (min-width: 799px) {
    .about-section .resp-cta-2 {
      display: block; } }
  .about-section .about-content {
    font-size: 1.5rem; }
    @media (min-width: 1080px) {
      .about-section .about-content {
        font-size: 1.8rem; } }
    @media (min-width: 1200px) {
      .about-section .about-content {
        font-size: 2.5rem;
        line-height: 2.9rem; } }
  .about-section .about-cta {
    z-index: 8; }

.artist-name:after {
  content: '';
  height: 3px;
  width: 200px;
  position: absolute;
  display: block;
  right: -210px;
  top: 55%;
  transform: translateY(-50%);
  background: #000; }
  @media (min-width: 768px) {
    .artist-name:after {
      width: 100px;
      right: -110px; } }
  @media (min-width: 1066px) {
    .artist-name:after {
      width: 220px;
      right: -230px;
      height: 5px; } }

.brands-section-content {
  /*    border-top: 5px solid #ccc;
      border-bottom: 5px solid #ccc;*/
  background: linear-gradient(to left, #1959C1, #90ACD1);
  width: 100%;
  height: 100%;
  /*    border-radius: 80px;
      box-shadow: -4px 4px 30px rgba(0, 0, 0, 0.2);*/ }
  .brands-section-content .slider-bg {
    background: #fff; }
    .brands-section-content .slider-bg .brand-slider-wrapper {
      width: 90%;
      padding: 30px 0;
      cursor: move;
      /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab; }
      .brands-section-content .slider-bg .brand-slider-wrapper:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing; }
      @media (min-width: 1080px) {
        .brands-section-content .slider-bg .brand-slider-wrapper {
          padding: 41px 0; } }
      .brands-section-content .slider-bg .brand-slider-wrapper .brands-slider img {
        max-width: 150px; }
        @media (min-width: 1080px) {
          .brands-section-content .slider-bg .brand-slider-wrapper .brands-slider img {
            max-width: 100px; } }

.work-section {
  padding-top: 48px; }
  @media (min-width: 1200px) {
    .work-section {
      padding-top: 100px; } }
  .work-section .section-header {
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    color: #F16821; }
    @media (min-width: 1200px) {
      .work-section .section-header {
        font-size: 2.7rem; } }
  .work-section .section-description {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 48px; }
    @media (min-width: 992px) {
      .work-section .section-description {
        margin-bottom: 100px; } }
    @media (min-width: 1080px) {
      .work-section .section-description {
        margin-bottom: 150px; } }
    @media (min-width: 1200px) {
      .work-section .section-description {
        margin-bottom: 200px;
        font-size: 1.2rem; } }
  .work-section .work-item {
    margin-bottom: 20px; }
    .work-section .work-item:last-of-type {
      margin-bottom: 0px; }
    .work-section .work-item h3 {
      ont-family: 'SegoeUI'; }
      @media (min-width: 1200px) {
        .work-section .work-item h3 {
          font-size: 2.1rem; } }
    .work-section .work-item .project-description {
      font-family: 'SegoePro-Light';
      font-size: 1.25rem; }
      @media (min-width: 992px) {
        .work-section .work-item .project-description {
          font-size: 1.5rem; } }
    .work-section .work-item img {
      max-width: 90%; }
      @media (min-width: 992px) {
        .work-section .work-item img {
          max-width: 100%; } }
    .work-section .work-item .desktop-mockup {
      box-shadow: -5px 5px 25px #D5D5F3; }
    .work-section .work-item .project-hashtags .hashtag {
      font-family: 'SegoePro-Semibold';
      color: #EE37EE;
      border: 1px solid #EE37EE;
      border-radius: 20px;
      font-size: 12px;
      line-height: 29px; }
    .work-section .work-item .project-hashtags a {
      font-family: 'SegoePro-Semibold';
      text-decoration: none;
      background: #EE37EE;
      color: #fff;
      border: 1px solid #EE37EE;
      border-radius: 20px;
      font-size: 12px;
      line-height: 29px;
      transition: 0.2s linear; }
      .work-section .work-item .project-hashtags a:hover {
        background: #d631d6;
        border-color: #d631d6; }

.testimonial-section {
  padding: 48px 0;
  background: #EBEBEB; }
  @media (min-width: 1200px) {
    .testimonial-section {
      padding: 100px 0; } }
  .testimonial-section .testimonial-slider {
    max-width: 600px; }
    .testimonial-section .testimonial-slider img {
      max-width: 90px;
      border-radius: 50%; }
    .testimonial-section .testimonial-slider .testimonial-person .fa {
      font-size: 25px;
      color: #CCCCCC; }
    .testimonial-section .testimonial-slider .testimonial-person a {
      text-decoration: none;
      color: #ccc; }
    .testimonial-section .testimonial-slider .testimonial-description {
      font-size: 22px;
      font-weight: 300;
      cursor: move;
      /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab; }
      .testimonial-section .testimonial-slider .testimonial-description:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing; }
  .testimonial-section .testimonial-content .fa {
    color: #efc83e;
    font-size: 20px; }
  .testimonial-section .testimonial-slider .owl-nav {
    position: absolute;
    width: 100% !important;
    top: 50%;
    transform: translateY(-50%); }
  .testimonial-section .testimonial-slider .owl-prev {
    position: absolute;
    left: -100px !important; }
  .testimonial-section .testimonial-slider .owl-next {
    position: absolute;
    right: -100px !important; }
  .testimonial-section .testimonial-slider button {
    padding: 0;
    text-align: center; }
  .testimonial-section button:focus {
    outline: 1px dotted;
    outline: none; }
  .testimonial-section .testimonial-slider .owl-nav .fa {
    font-size: 20px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    line-height: 50px;
    box-shadow: 3px 3px 10px #D5D5F3;
    cursor: pointer;
    transition: 0.3s linear; }
  .testimonial-section .testimonial-slider .owl-nav .fa:hover {
    transform: translateY(-10%); }
  .testimonial-section .owl-carousel .owl-nav [class*='owl-']:hover {
    background: none;
    color: #000;
    text-decoration: none; }

.youtube-section {
  padding: 150px 0;
  background: #C4AC8C; }

.contact-section {
  padding: 48px 0;
  background-position: center center;
  background-size: cover;
  position: relative; }
  @media (min-width: 1200px) {
    .contact-section {
      padding: 100px 0px; } }
  .contact-section .contact-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to left, rgba(11, 137, 152, 0.93), rgba(1, 133, 189, 0.93)); }
  .contact-section .contact-introduction {
    font-family: 'SegoePro';
    color: #fff;
    line-height: 2.8rem;
    font-size: 2.5rem;
    margin-bottom: 20px; }
    @media (min-width: 1200px) {
      .contact-section .contact-introduction {
        font-size: 3rem; } }
  .contact-section .email-wrapper a {
    font-family: 'SegoePro-Semibold';
    text-decoration: none;
    color: rgba(225, 225, 225, 0.5);
    font-size: 1.5rem;
    transition: 0.2s linear; }
    .contact-section .email-wrapper a a:hover {
      color: rgba(225, 225, 225, 0.8); }
    @media (min-width: 1200px) {
      .contact-section .email-wrapper a {
        font-size: 1.8rem; } }
  .contact-section .contact-social .fa {
    text-decoration: none;
    color: rgba(225, 225, 225, 0.5);
    font-size: 80px;
    transition: 0.2s linear; }
    @media (min-width: 992px) {
      .contact-section .contact-social .fa {
        font-size: 9rem; } }
    .contact-section .contact-social .fa:hover {
      color: rgba(225, 225, 225, 0.8); }

/*****TOOLTIP START*****/
.tooltipset {
  position: relative;
  display: inline-block; }
  .tooltipset:hover .tooltipstexten {
    visibility: visible;
    font-size: 20px; }
  .tooltipset .tooltipstexten {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 15px 0;
    box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.5);
    /*Position the tooltip */
    bottom: 100%;
    left: 50%;
    position: absolute;
    z-index: 25; }
    .tooltipset .tooltipstexten::after {
      content: " ";
      position: absolute;
      top: 100%;
      /*At the bottom of the tooltip */
      left: 10%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #fff transparent transparent transparent; }

input.form-control {
  font-family: 'SegoePro-Semibold';
  background: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid rgba(225, 225, 225, 0.4);
  color: #fff;
  font-size: 20px; }
  input.form-control:focus {
    background: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #80bdff;
    outline: none;
    box-shadow: none;
    color: #fff;
    font-size: 20px;
    font-family: 'SegoePro-Semibold'; }
  input.form-control::placeholder {
    font-family: 'SegoePro-Semibold';
    color: rgba(225, 225, 225, 0.4);
    font-size: 20px; }

textarea.form-control {
  font-family: 'SegoePro-Semibold';
  background: transparent !important;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid rgba(225, 225, 225, 0.4);
  outline: none;
  box-shadow: none;
  max-height: 150px;
  min-height: 150px;
  color: #fff;
  font-size: 20px; }
  textarea.form-control:focus {
    background: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #80bdff;
    outline: none;
    box-shadow: none;
    color: #fff;
    font-size: 20px;
    font-family: 'SegoePro-Semibold'; }
  textarea.form-control::placeholder {
    font-family: 'SegoePro-Semibold';
    color: rgba(225, 225, 225, 0.4);
    font-size: 20px; }

.contact-section .btn-testimonial {
  color: #e1e1e1;
  font-size: 30px;
  background: transparent;
  border: none;
  border: 9px solid #e1e1e1;
  border-radius: 40px;
  padding: 0px 30px;
  transition: 0.2s linear;
  cursor: pointer;
  font-family: 'SegoePro-Semibold'; }
  .contact-section .btn-testimonial:hover {
    color: rgba(225, 225, 225, 0.8);
    border: 9px solid rgba(225, 225, 225, 0.8); }

footer {
  background: #90acd1;
  padding: 48px 0; }
  footer .insta-wrap a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.1s linear; }
    footer .insta-wrap a:hover {
      color: rgba(255, 255, 255, 0.6); }
  footer .footer-info a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.1s linear; }
    footer .footer-info a:hover {
      color: rgba(255, 255, 255, 0.6); }

/*# sourceMappingURL=myPartials.css.map */
