.about-section {
    padding-top: 48px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;

    @media(min-width:992px) {
        background-attachment: scroll;
    }

    @media(min-width:1200px) {
        padding-top: 100px;
    }

    .about-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.8) , rgba(255, 255, 255, 0.99));
    }

    img {
        max-width: 80%;
        border-radius: 50%;
        border: 10px solid #115398;

        @media(min-width:992px) {
            max-width: 100%;
            border-radius: 0%;
            border: none;
        }
    }
    
    .resp-cta-1 {
        display: none;
        
        
        @media(min-width:768px) {
            display: block;
        }
        @media(min-width:799px) {
            display: none;
        }
    }
    .resp-cta-2 {
        
        @media(min-width:768px) {
            display: none;
        }
        @media(min-width:799px) {
            display: block;
        }
    }
    .about-content {
        font-family: 'SegoePro-Semibold';
        font-size: 1.5rem;
        
        @media(min-width:1080px) {
            font-size: 1.8rem;
        }
        @media(min-width:1200px) {
            font-size: 2.5rem;
            line-height: 2.9rem;
        }
    }
    .about-cta {
        z-index: 8;
    }
}

.artist-name:after {
    content: '';
    height: 3px;
    width: 200px;
    position: absolute;
    display: block;
    right: -210px;
    top: 55%;
    transform: translateY(-50%);
    background: #000;

    @media(min-width:768px) {
        width: 100px;
        right: -110px;
    }
    @media(min-width:1066px) {
        width: 220px;
        right: -230px;
        height: 5px;
    }
}


