

html {
    font-size: 16px;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.main-full-width {
    margin-left: 0px;
}
figure {
    margin-bottom: 0;
}



@media(min-width:768px){
    main {
        margin-left: 250px;
        transition: 0.3s linear;
    }
}