.side-bar {
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background: #90acd1;
    transition: 0.3s linear;
    z-index: 4;



    .side-bar-wrapper {
        position: relative;
        height: 100%;
        padding: 40px 0;

        .side-bar-toggle {
            position: absolute;
            top: 30%;
            right: 0;
            display: inline-block;
            height: 50px;
            width: 50px;
            font-size: 43px;
            line-height: 41px;
            background: #fff;
            text-align: center;
            cursor: pointer;
            transition: 0.3s linear;
            border: 4px solid #007BFE;
        }
        .toggle-border-left {
            border-radius: 15px 0px 0px 15px;
            border-right: none;
        }
        .toggle-border-right {
            border-radius: 0px 15px 15px 0px;
            border-left: none;
        }
        .side-bar-toggle-closed {
            right: -100px;
        }

        @media(min-width:768px){
            .side-bar-toggle-closed {
                right: -50px;
            }
        }

        .logo-wrapper {
            max-width: 50%;
            position: relative;

            .side-menu-line {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -40px;
                width: 165%;
                height: 1px;
                background: rgba(255, 255, 255, 0.2);
            }
        }

        nav.side-bar-nav {
            padding-left: 24%;


            li {
                margin-bottom: 17px;
            }
            a {
                color: #fff;
                font-size: 24px;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                transition: 0.2s linear;
                &:hover {
                    color: rgba(255, 255, 255, 0.7);
                }
            }

        }
        .connect {
            font-family: 'SegoePro-Semibold';
            margin-left: 24%;
            color: rgba(255, 255, 255, 0.3);
        }
        .side-bar-social {
            a {
                text-decoration: none;
            }
            .fa {
                color: #fff;
                font-size: 40px;
            }
        }

    }



}
.side-bar-hide {
    margin-left: -250px;
}


@media(min-width:768px){
    .side-bar {
        width: 250px;


    }
}


// SIDE BAR UL LINKS ON LOAD ANIMATION
.fade-in-left {
    -webkit-animation: fade-in-left 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-left 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.delay-1 {
    animation-delay: 0.3s;
}
.delay-2 {
    animation-delay: 0.6s;
}
.delay-3 {
    animation-delay: 0.9s;
}
.delay-4 {
    animation-delay: 1.2s;
}
.delay-5 {
    animation-delay: 1.5s;
}

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


// SIDE BAR UL LINKS ON BOUNCE ON HOVER 
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


